[Unit]
Description=PiForge local account provisioning
After=local-fs.target
Before=getty@tty1.service
ConditionPathExists=!/var/lib/piforge/firstboot-complete

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/piforge-firstboot
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TimeoutStartSec=infinity
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
